[submodule "external/pygmt"]
	path = external/pygmt
	url = https://github.com/GenericMappingTools/pygmt.git
[submodule "external/gmt"]
	path = external/gmt
	url = https://github.com/GenericMappingTools/gmt.git
